/* CSS Document */
.catContainer{
	width:100%; 
	height:100%; 
	background-color:white;
	box-shadow: inset 0px 0px 3px black;
	padding-top:10px;
	padding-bottom:30px;
}

.glyphicon{
	top:0;	
}

.mastfoot {
	padding:10px;	
}

.thumbnail img{
	width:100px;	
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
	margin: 0 auto auto;
	
  }
  
  .mastfoot {
    position: fixed;
	width:100%;
	margin: 0 auto auto;
	background-color: rgba(187,226,253,0.4);
	box-shadow: -1px 0px 3px black;
  }
  
  .cover-container{
	  width:100%;
  }
}